doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title Розклад
  body
    header
      nav
        ul
          li
            a(href='/') Головна
          li
            a(href='rozklad.html') Розклад
          li
            a(href='photo.html') Фото
          li
            a(href='news.html') Новини
    section
      h1 Розклад
      table(border='', width='80%')
        tbody
          tr(bgcolor='#009999')
            td Вівторок
            td Середа
            td Четвер
            td П'ятниця
          tr
            td Front-end технології
            td Front-end технології
            td Чисельні методи
            td Мови програмування мобільних пристроїв
          tr(bgcolor='#33cccc')
            td Чисельні методи
            td Основи автоматизованого проектування
            td Практикум з програмування
            td Іноземна мова
          tr
            td Основи автоматизованого проектування
            td Практикум з програмування
            td
            td Мови програмування мобільних пристроїв
          tr(bgcolor='#33cccc')
            td
            td Практикум з програмування
            td
            td Мови програмування мобільних пристроїв
    aside
      h2 Об авторе
      p
        | Нет никого, кто любил бы боль саму по себе, кто искал бы её и кто хотел
        | бы иметь её просто потому, что это боль..
    footer
      p Copyright 2020 Ваш сайт
